body {
    background: #fafafa;
}

img.background-img {
    width: 100%;
}

h1.todo {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 390px;
    padding-top: 45px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#cd43e9, transparent), url("./img/background.jpeg");
    margin: -8px;
    height: 300px;
}

.background-white {
    background-color: #fafafa;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    margin-top: 265px;
    flex-direction: column;
    margin-left: -8px;
}

input.textbox {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 18px;
    padding: 21px 33px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0px 2px 7px #00000042;
    flex: 1;
}

.contenedor-notas {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 27px;
}

.contenedor-input {
    display: flex;
    justify-content: center;
    max-width: 650px;
    min-width: 540px;
}

.contenedor-todobox {
    display: flex;
    justify-content: center;
}

.todo-box {
    background-color: white;
    padding: 7px 33px;
    box-shadow: 0px 2px 7px #00000012;
    border-top: outset;
    flex: 1 1;
    display: flex;
}

.todo-box:hover button.boton-close {
    display: flex;
    align-items: center;
}

.text-todo {
    max-width: 650px;
    min-width: 540px;
    display: flex;
    justify-content: center;
}

p.task-text {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex: 1;
    margin-left: 20px;
}

button.boton-close {
    display: none;
    border: none;
    background: none;
}

img.cross-delete {
    display: flex;
    height: 15px;
}

img.oval {
    display: flex;
    height: 20px;
    margin-top: 15px;
}

img.oval-imagen {
    height: 20px;
    display: flex;
}

button.oval {
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

img.check-imagen {
    height: 20px;
    display: flex;
}

button.boton {
    background: none;
    border: none;
    font-size: 0;
}

p.btn.btn-selected {
    text-decoration: line-through;
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex: 1;
    margin-left: 20px;
    color: #b5b5b5;
    font-style: italic;
}

p.btn {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex: 1;
    margin-left: 20px;
}

.bottom-bar {
    display: flex;
    justify-content: center;
}

.bar {
    max-width: 650px;
    min-width: 540px;
    display: flex;
    justify-content: center;
}

.text-bar {
    background-color: white;
    padding: 17px 33px;
    box-shadow: 0px 2px 7px #00000012;
    border-top: outset;
    flex: 1 1;
    display: flex;
    justify-content: space-between;
}

button.all-active-comp {
    font-family: 'Roboto', sans-serif;
    border: none;
    background: none;
    display: flex;
    color: #898989;
    font-weight: bold;
}

button.tasks-left, .clear-complete {
    font-size: 12px;
    color: #898989;
    font-family: 'Roboto', sans-serif;
    border: none;
    background: none;
}

button.all-active-comp:hover {
    color:#f8bb4f;
}

button.clear-complete:hover {
    color:#242424;
}

button.all-active-comp:focus {
    color:#f8bb4f;
}
